:root {
  --color-primary: #c29c5e;
  --color-secondary: #683e00;
  --color-accent: #912b07;
  --color-headings: #402e32;
  --color-body: #b6a999;
  --color-body-darker: #8f8476;
  --color-block: #d8c3be;

  scroll-behavior: smooth;
}

* *::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvatica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 2rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/check-solid.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/*Icons*/

.icon {
  height: 40px;
  width: 40px;
}

.icon--small {
  height: 30px;
  width: 30px;
}

.icon--primary {
  fill: var(--color-secondary);
}

.icon--white {
  fill: white;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container > img {
  width: 80%;
  height: 80%;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

/*Buttons*/

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
}

.btn--primary:hover {
  background-color: #e2bc80;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--secondary:hover {
  background-color: #8a580e;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  background-color: #ac3d15;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background-color: white;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: white;
  border: 2px solid var(--color-headings);
}

.top-link {
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 50%;
  bottom: 0;
  cursor: pointer;
  display: inline-flex;
  height: 80px;
  justify-content: center;
  margin: 0 3em 3em 0;
  padding: 0.25em;
  position: fixed;
  right: 0;
  transition: all 0.25s ease-in-out;
  width: 80px;
  z-index: 1;
}

.top-link:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .top-link {
    margin: 0 1em 2em 0;

    width: 40px;
    height: 40px;
  }

  .btn {
    font-size: 1.5rem;
  }
}

/*Cards*/

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  display: flex;
  justify-content: center;
  align-self: center;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}

/*Plans*/

.plan__name {
  color: white;
  margin: 0;
  font-weight: 600;
}

.plan .list__item {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 2.5rem;
  }
}

/*Media*/

.media {
  display: flex;
  margin-top: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin: 2rem 0;
  width: 95%;
  max-height: 40rem;
  object-fit: cover;
  border-radius: 20px;
}

/*Quotes*/

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__recommandation {
    color: var(--color-headings);
    opacity: 0.4;
    font-size: 2rem;
    font-style: normal;
  }
}

/*Grids*/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Testimonial*/

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
  width: 100%;
}

.testimonial__image img {
  height: 30rem;
  object-fit: cover;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

/*Collapsibles*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-180deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*Blocks*/

.block {
  padding: 6rem 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: var(--color-block);
  color: #7b858b;
}

.block--dark .block__heading {
  color: white;
}

.block--skewed-right {
  padding-bottom: 10rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Navigation Bar*/

.nav {
  background-color: var(--color-headings);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav img {
  width: 100px;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid#222;
  font-size: 2.4rem;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
  text-decoration: none;
}

.nav__item > a:hover {
  color: white;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    font-size: 2rem;
    border: 0;
  }
}

/*Hero*/

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0 90%);
}

.hero__header {
  font-size: 6rem;
}

.hero__tagline {
  font-size: 2rem;
  color: var(--color-headings);
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
  object-position: right top;
  padding-top: 5rem;
}

.hero .container {
  padding-bottom: 8rem;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
}

/*Features*/
.feature {
  gap: 4rem 2rem;
  margin: 6rem 0;
}

.feature__heading {
  margin: 1rem 0;
  align-self: center;
}

.feature__body {
  text-align: center;
  font-size: 2.3rem;
}

.card__wrapper {
  display: flex;
}

@media screen and (max-width: 768px) {
  .card__wrapper {
    flex-direction: column;
  }
}

.card__wrapper span {
  margin-right: 2rem;
}

.feature__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*Footer*/
.footer {
  background-color: var(--color-headings);
  padding-bottom: 10rem;
  clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
}

.footer__details {
  margin: 3em;
  padding: 1rem;
  display: flex;
}

.footer__details > span {
  margin-left: 10rem;
  font-size: 2.3rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer__details {
    margin: 1em;
  }

  .footer__details > span {
    margin-left: 5rem;
  }
}

.map {
  margin-top: 5rem;
  border-radius: 200px;
}

.list__item .footer__details {
  display: flex;
  margin-left: 50rem;
}
