<section class="block container">
  <article class="grid grid--1x2 feature card">
    <div class="feature__content">
      <div class="card__wrapper">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#eyelash"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Szérumos Komlex Arcmasszázs</h3>
      </div>
      <p>Lifting hatású kényeztetés őssejtes készítményekkel</p>
      <button class="btn btn--outline">Bővebben</button>
    </div>
    <img
      class="feature__image"
      src="/images/pexels-anna-tarazevich-6560338.jpg"
      alt="A smiling customer"
    />
  </article>
</section>
